.my-box {
    font-size: 14px;
    font-family: courier new;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid black;
    margin-left: 30px;      
    margin-right: 30px;     
    margin-top: 1px;
    margin-bottom: 30px;
    max-width: 800px;       
}

.per_day {
    padding-top: -10px;
    padding-left: 10px; 
    padding-bottom: 15px;
}

p {
    margin-bottom: 15px;
    margin-top: 12px;
    font-weight: normal;
}

hr {
    border: none;
    margin-top: -10px;
    margin-left: -1px;
    height: 0.5px;
    background-color: black;
}

h1 {
    font-family: courier new;
    font-size: 20px;
    font-weight: normal;
    margin-left: 30px;
    margin-bottom: 4px;
    margin-top: 100px;
}
