.my-box {
    font-family: courier new;
    font-size: 14px;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid black;
    margin-left: 30px;      
    margin-right: 30px;     
    margin-top: 1px;
    margin-bottom: 30px;
    max-width: 800px;       
}

h1 {
    font-family: courier new;
    font-size: 20px;
    font-weight: normal;
    margin-left: 30px;
    margin-bottom: 4px;
    margin-top: 100px;
}
